# Importing Libraries & Dataset

In [131]:
import pandas as pd 
import numpy as np
import os

In [132]:
#Creating a path
path = r'/users/divyaneopaney/Downloads/Chocolate Bar Analysis'
path

'/users/divyaneopaney/Downloads/Chocolate Bar Analysis'

In [133]:
#Importing the dataframe
df = pd.read_csv(os.path.join(path, 'Data', 'Raw Data', 'Chocolate_Bar_ratings.csv'))
df.head(10)

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.50,,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4.00,,Peru

# Cleaning the Dataset

In [135]:
#Renaming the dataset
df.columns = [col.replace('\n', ' ').strip() for col in df.columns]
df.rename(columns={
    'Company  (Maker-if known)': 'Company',
    'Specific Bean Origin or Bar Name': 'BarName',
    'Review Date': 'ReviewDate',
    'Cocoa Percent': 'CocoaPercent',
    'Company Location': 'Location',
    'Bean Type': 'BeanType',
    'Broad Bean Origin': 'BroadOrigin'
}, inplace=True)

In [136]:
#Checking to see if the column came through
df.columns

Index(['Company  (Maker-if known)', 'BarName', 'REF', 'ReviewDate',
       'CocoaPercent', 'Location', 'Rating', 'BeanType', 'BroadOrigin'],
      dtype='object')

In [137]:
df.head()

,Company (Maker-if known),BarName,REF,ReviewDate,CocoaPercent,Location,Rating,BeanType,BroadOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [145]:
# Removing the percent '%' and converting to a float type. 
df['CocoaPercent'] = df['CocoaPercent'].str.replace('%', '', regex=False).astype(float)

In [153]:
#Checking to see if the type changed. 
(df['CocoaPercent'].describe())

count    1795.000000
mean       71.698329
std         6.323118
min        42.000000
25%        70.000000
50%        70.000000
75%        75.000000
max       100.000000
Name: CocoaPercent, dtype: float64

In [151]:
#Checking to see if the change was applied to the dataframe
df.head()

,Company (Maker-if known),BarName,REF,ReviewDate,CocoaPercent,Location,Rating,BeanType,BroadOrigin
0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70.0,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70.0,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70.0,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70.0,France,3.50,,Peru

In [157]:
#Checking for missing values in the 'BeanType' column
missing_values = df['BeanType'].isnull().sum()
print(f"Missing values in 'BeanType': {missing_values}")

Missing values in 'BeanType': 1

In [161]:
#Decided to check the entire dataframe if there are other missing values. It seems like BroadOrigin also has 1 missing value.
df.isnull().sum()

Company  (Maker-if known)    0
BarName                      0
REF                          0
ReviewDate                   0
CocoaPercent                 0
Location                     0
Rating                       0
BeanType                     1
BroadOrigin                  1
dtype: int64

In [165]:
# Displaying the row where 'BroadOrigin' is missing
df[df['BroadOrigin'].isnull()]

,Company (Maker-if known),BarName,REF,ReviewDate,CocoaPercent,Location,Rating,BeanType,BroadOrigin
1072,Mast Brothers,Madagascar,999,2012,72.0,U.S.A.,2.5,Trinitario,NaN

In [185]:
# Replacing blank or NaN for 'BeanType'with 'Unknown'
#There were some hidden spaces or whitespaces. 
df['BeanType'] = df['BeanType'].apply(lambda x: 'Unknown' if pd.isna(x) or (isinstance(x, str) and x.strip() == '') else x)

In [187]:
#Checking to see if blank values were replaced with Uknown. 
df.head()

,Company (Maker-if known),BarName,REF,ReviewDate,CocoaPercent,Location,Rating,BeanType,BroadOrigin
0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,Unknown,Sao Tome
1,A. Morin,Kpime,1676,2015,70.0,France,2.75,Unknown,Togo
2,A. Morin,Atsane,1676,2015,70.0,France,3.00,Unknown,Togo
3,A. Morin,Akata,1680,2015,70.0,France,3.50,Unknown,Togo
4,A. Morin,Quilla,1704,2015,70.0,France,3.50,Unknown,Peru

In [191]:
#Checking for any exact duplicate values. No Duplicates were found
df.duplicated().sum()

0

In [195]:
# Reviewing counts per REF (Bar ID reviewed multiple times)
print("Top 5 REF review counts:\n", df['REF'].value_counts().head())

Top 5 REF review counts:
 REF
414    10
404     9
24      9
387     9
32      8
Name: count, dtype: int64

In [197]:
#Descriptive Statistics, looking at the rating, Cocoapercentage and ReviewDate. 
print("\nContinuous variable summary:")
print(df[['Rating', 'CocoaPercent', 'ReviewDate']].describe())

Continuous variable summary:
            Rating  CocoaPercent   ReviewDate
count  1795.000000   1795.000000  1795.000000
mean      3.185933     71.698329  2012.325348
std       0.478062      6.323118     2.927210
min       1.000000     42.000000  2006.000000
25%       2.875000     70.000000  2010.000000
50%       3.250000     70.000000  2013.000000
75%       3.500000     75.000000  2015.000000
max       5.000000    100.000000  2017.000000

# Exporting the Cleaned DataFrame

In [206]:
#Exporting the data
Cleaned_data = r'/users/divyaneopaney/Downloads/Cleaned_Chocolate Bar Analysis'

In [212]:
output_path = os.path.join(path,"Data/Prepared Data/Cleaned_ChocolateBarRating.csv")
# 2. Export the DataFrame to CSV
df.to_csv(output_path, index=False)